In [198]:
import pandas as pd
fs_path=r'C:\\Users\\duke0\\QUANT_SUMMER\\crawling_data\\재무데이터.xlsx'
pd.read_excel(fs_path)

,Unnamed: 0,2012/02,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,2013/02,Unnamed: 9,...,Unnamed: 257,Unnamed: 258,Unnamed: 259,2020/09,Unnamed: 261,Unnamed: 262,Unnamed: 263,Unnamed: 264,Unnamed: 265,Unnamed: 266
0,NaN,당기순이익,매출액,부채,영업이익,영업활동으로인한현금흐름,자본,자산,당기순이익,매출액,...,영업활동으로인한현금흐름,자본,자산,당기순이익,매출액,부채,영업이익,영업활동으로인한현금흐름,자본,자산
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A060310,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,A095570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A006840,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2351,A189980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2352,A000540,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2353,A003280,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2354,A037440,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2355,A238490,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 저장된 엑셀 데이터를 가져오는 과정에서 이중 칼럼 부분이 손상된 것으로 보인다
전처리 작업 필요

In [199]:
#이중 칼럼 처리
raw_data=pd.read_excel(fs_path)

small_col=list(raw_data.iloc[0])

In [200]:
big_col=list(raw_data.columns)

In [201]:
index_new=raw_data[big_col[0]]
len(index_new)

2356

In [89]:
#index_new=index_new[1:len(index_new)]

In [202]:
index_new

0           NaN
1           NaN
2       A060310
3       A095570
4       A006840
         ...
2351    A189980
2352    A000540
2353    A003280
2354    A037440
2355    A238490
Name: Unnamed: 0, Length: 2356, dtype: object

In [205]:
raw_data=raw_data.set_index(big_col[0])

In [207]:
raw_data.shape

(2356, 266)

In [208]:
raw_data.columns

Index(['2012/02', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5',
       'Unnamed: 6', 'Unnamed: 7', '2013/02', 'Unnamed: 9', 'Unnamed: 10',
       ...
       'Unnamed: 257', 'Unnamed: 258', 'Unnamed: 259', '2020/09',
       'Unnamed: 261', 'Unnamed: 262', 'Unnamed: 263', 'Unnamed: 264',
       'Unnamed: 265', 'Unnamed: 266'],
      dtype='object', length=266)

In [209]:
big_col=list(raw_data.columns)

big_col

['2012/02',
 'Unnamed: 2',
 'Unnamed: 3',
 'Unnamed: 4',
 'Unnamed: 5',
 'Unnamed: 6',
 'Unnamed: 7',
 '2013/02',
 'Unnamed: 9',
 'Unnamed: 10',
 'Unnamed: 11',
 'Unnamed: 12',
 'Unnamed: 13',
 'Unnamed: 14',
 '2014/02',
 'Unnamed: 16',
 'Unnamed: 17',
 'Unnamed: 18',
 'Unnamed: 19',
 'Unnamed: 20',
 'Unnamed: 21',
 '2014/08',
 'Unnamed: 23',
 'Unnamed: 24',
 'Unnamed: 25',
 'Unnamed: 26',
 'Unnamed: 27',
 'Unnamed: 28',
 '2015/12',
 'Unnamed: 30',
 'Unnamed: 31',
 'Unnamed: 32',
 'Unnamed: 33',
 'Unnamed: 34',
 'Unnamed: 35',
 '2016/12',
 'Unnamed: 37',
 'Unnamed: 38',
 'Unnamed: 39',
 'Unnamed: 40',
 'Unnamed: 41',
 'Unnamed: 42',
 '2017/06',
 'Unnamed: 44',
 'Unnamed: 45',
 'Unnamed: 46',
 'Unnamed: 47',
 'Unnamed: 48',
 'Unnamed: 49',
 '2017/07',
 'Unnamed: 51',
 'Unnamed: 52',
 'Unnamed: 53',
 'Unnamed: 54',
 'Unnamed: 55',
 'Unnamed: 56',
 '2017/08',
 'Unnamed: 58',
 'Unnamed: 59',
 'Unnamed: 60',
 'Unnamed: 61',
 'Unnamed: 62',
 'Unnamed: 63',
 '2017/09',
 'Unnamed: 65',
 'Unnamed: 66',
 'Unnamed: 67',
 'Unnamed: 68',
 'Unnamed: 69',
 'Unnamed: 70',
 '2017/10',
 'Unnamed: 72',
 'Unnamed: 73',
 'Unnamed: 74',
 'Unnamed: 75',
 'Unnamed: 76',
 'Unnamed: 77',
 '2017/11',
 'Unnamed: 79',
 'Unnamed: 80',
 'Unnamed: 81',
 'Unnamed: 82',
 'Unnamed: 83',
 'Unnamed: 84',
 '2017/12',
 'Unnamed: 86',
 'Unnamed: 87',
 'Unnamed: 88',
 'Unnamed: 89',
 'Unnamed: 90',
 'Unnamed: 91',
 '2018/02',
 'Unnamed: 93',
 'Unnamed: 94',
 'Unnamed: 95',
 'Unnamed: 96',
 'Unnamed: 97',
 'Unnamed: 98',
 '2018/03',
 'Unnamed: 100',
 'Unnamed: 101',
 'Unnamed: 102',
 'Unnamed: 103',
 'Unnamed: 104',
 'Unnamed: 105',
 '2018/06',
 'Unnamed: 107',
 'Unnamed: 108',
 'Unnamed: 109',
 'Unnamed: 110',
 'Unnamed: 111',
 'Unnamed: 112',
 '2018/07',
 'Unnamed: 114',
 'Unnamed: 115',
 'Unnamed: 116',
 'Unnamed: 117',
 'Unnamed: 118',
 'Unnamed: 119',
 '2018/08',
 'Unnamed: 121',
 'Unnamed: 122',
 'Unnamed: 123',
 'Unnamed: 124',
 'Unnamed: 125',
 'Unnamed: 126',
 '2018/09',
 'Unnamed: 128',
 'Unnamed: 129',
 'Unnamed: 130',
 'Unnamed: 131',
 'Unnamed: 132',
 'Unnamed: 133',
 '2018/10',
 'Unnamed: 135',
 'Unnamed: 136',
 'Unnamed: 137',
 'Unnamed: 138',
 'Unnamed: 139',
 'Unnamed: 140',
 '2018/11',
 'Unnamed: 142',
 'Unnamed: 143',
 'Unnamed: 144',
 'Unnamed: 145',
 'Unnamed: 146',
 'Unnamed: 147',
 '2018/12',
 'Unnamed: 149',
 'Unnamed: 150',
 'Unnamed: 151',
 'Unnamed: 152',
 'Unnamed: 153',
 'Unnamed: 154',
 '2019/02',
 'Unnamed: 156',
 'Unnamed: 157',
 'Unnamed: 158',
 'Unnamed: 159',
 'Unnamed: 160',
 'Unnamed: 161',
 '2019/03',
 'Unnamed: 163',
 'Unnamed: 164',
 'Unnamed: 165',
 'Unnamed: 166',
 'Unnamed: 167',
 'Unnamed: 168',
 '2019/06',
 'Unnamed: 170',
 'Unnamed: 171',
 'Unnamed: 172',
 'Unnamed: 173',
 'Unnamed: 174',
 'Unnamed: 175',
 '2019/07',
 'Unnamed: 177',
 'Unnamed: 178',
 'Unnamed: 179',
 'Unnamed: 180',
 'Unnamed: 181',
 'Unnamed: 182',
 '2019/08',
 'Unnamed: 184',
 'Unnamed: 185',
 'Unnamed: 186',
 'Unnamed: 187',
 'Unnamed: 188',
 'Unnamed: 189',
 '2019/09',
 'Unnamed: 191',
 'Unnamed: 192',
 'Unnamed: 193',
 'Unnamed: 194',
 'Unnamed: 195',
 'Unnamed: 196',
 '2019/10',
 'Unnamed: 198',
 'Unnamed: 199',
 'Unnamed: 200',
 'Unnamed: 201',
 'Unnamed: 202',
 'Unnamed: 203',
 '2019/11',
 'Unnamed: 205',
 'Unnamed: 206',
 'Unnamed: 207',
 'Unnamed: 208',
 'Unnamed: 209',
 'Unnamed: 210',
 '2019/12',
 'Unnamed: 212',
 'Unnamed: 213',
 'Unnamed: 214',
 'Unnamed: 215',
 'Unnamed: 216',
 'Unnamed: 217',
 '2020/02',
 'Unnamed: 219',
 'Unnamed: 220',
 'Unnamed: 221',
 'Unnamed: 222',
 'Unnamed: 223',
 'Unnamed: 224',
 '2020/03',
 'Unnamed: 226',
 'Unnamed: 227',
 'Unnamed: 228',
 'Unnamed: 229',
 'Unnamed: 230',
 'Unnamed: 231',
 '2020/04',
 'Unnamed: 233',
 'Unnamed: 234',
 'Unnamed: 235',
 'Unnamed: 236',
 'Unnamed: 237',
 'Unnamed: 238',
 '2020/05',
 'Unnamed: 240',
 'Unnamed: 241',
 'Unnamed: 242',
 'Unnamed: 243',
 'Unnamed: 244',
 'Unnamed: 245',
 '2020/06',
 'Unnamed: 247',
 'Unnamed: 248',
 'Unnamed: 249',
 'Unnamed: 250',
 'Unnamed: 251',
 'Unnamed: 252',
 '2020/08',
 'Unnamed: 254',
 'Unnamed: 255',
 'Unnamed: 256',
 'Unnamed: 257',
 'Unnamed: 258',
 'Unnamed: 259',
 '2020/09',
 'Unnamed: 261',
 'Unnamed: 262',
 'Unnamed: 263',
 'Unnamed: 264',
 'Unnamed: 265',
 'Unnamed: 266']

In [213]:
small_col=small_col[1:len(small_col)]

In [211]:
len(big_col)

266

In [214]:
len(small_col)

266

In [10]:
# unnamed 부분 제거 필요

In [215]:
new_big_col=[]
for num,col in enumerate(big_col):
    if 'Unnamed'in col:
        new_big_col.append(new_big_col[num-1])
    else:
        new_big_col.append(big_col[num])

In [216]:
new_big_col

['2012/02',
 '2012/02',
 '2012/02',
 '2012/02',
 '2012/02',
 '2012/02',
 '2012/02',
 '2013/02',
 '2013/02',
 '2013/02',
 '2013/02',
 '2013/02',
 '2013/02',
 '2013/02',
 '2014/02',
 '2014/02',
 '2014/02',
 '2014/02',
 '2014/02',
 '2014/02',
 '2014/02',
 '2014/08',
 '2014/08',
 '2014/08',
 '2014/08',
 '2014/08',
 '2014/08',
 '2014/08',
 '2015/12',
 '2015/12',
 '2015/12',
 '2015/12',
 '2015/12',
 '2015/12',
 '2015/12',
 '2016/12',
 '2016/12',
 '2016/12',
 '2016/12',
 '2016/12',
 '2016/12',
 '2016/12',
 '2017/06',
 '2017/06',
 '2017/06',
 '2017/06',
 '2017/06',
 '2017/06',
 '2017/06',
 '2017/07',
 '2017/07',
 '2017/07',
 '2017/07',
 '2017/07',
 '2017/07',
 '2017/07',
 '2017/08',
 '2017/08',
 '2017/08',
 '2017/08',
 '2017/08',
 '2017/08',
 '2017/08',
 '2017/09',
 '2017/09',
 '2017/09',
 '2017/09',
 '2017/09',
 '2017/09',
 '2017/09',
 '2017/10',
 '2017/10',
 '2017/10',
 '2017/10',
 '2017/10',
 '2017/10',
 '2017/10',
 '2017/11',
 '2017/11',
 '2017/11',
 '2017/11',
 '2017/11',
 '2017/11',
 '2017/11',
 '2017/12',
 '2017/12',
 '2017/12',
 '2017/12',
 '2017/12',
 '2017/12',
 '2017/12',
 '2018/02',
 '2018/02',
 '2018/02',
 '2018/02',
 '2018/02',
 '2018/02',
 '2018/02',
 '2018/03',
 '2018/03',
 '2018/03',
 '2018/03',
 '2018/03',
 '2018/03',
 '2018/03',
 '2018/06',
 '2018/06',
 '2018/06',
 '2018/06',
 '2018/06',
 '2018/06',
 '2018/06',
 '2018/07',
 '2018/07',
 '2018/07',
 '2018/07',
 '2018/07',
 '2018/07',
 '2018/07',
 '2018/08',
 '2018/08',
 '2018/08',
 '2018/08',
 '2018/08',
 '2018/08',
 '2018/08',
 '2018/09',
 '2018/09',
 '2018/09',
 '2018/09',
 '2018/09',
 '2018/09',
 '2018/09',
 '2018/10',
 '2018/10',
 '2018/10',
 '2018/10',
 '2018/10',
 '2018/10',
 '2018/10',
 '2018/11',
 '2018/11',
 '2018/11',
 '2018/11',
 '2018/11',
 '2018/11',
 '2018/11',
 '2018/12',
 '2018/12',
 '2018/12',
 '2018/12',
 '2018/12',
 '2018/12',
 '2018/12',
 '2019/02',
 '2019/02',
 '2019/02',
 '2019/02',
 '2019/02',
 '2019/02',
 '2019/02',
 '2019/03',
 '2019/03',
 '2019/03',
 '2019/03',
 '2019/03',
 '2019/03',
 '2019/03',
 '2019/06',
 '2019/06',
 '2019/06',
 '2019/06',
 '2019/06',
 '2019/06',
 '2019/06',
 '2019/07',
 '2019/07',
 '2019/07',
 '2019/07',
 '2019/07',
 '2019/07',
 '2019/07',
 '2019/08',
 '2019/08',
 '2019/08',
 '2019/08',
 '2019/08',
 '2019/08',
 '2019/08',
 '2019/09',
 '2019/09',
 '2019/09',
 '2019/09',
 '2019/09',
 '2019/09',
 '2019/09',
 '2019/10',
 '2019/10',
 '2019/10',
 '2019/10',
 '2019/10',
 '2019/10',
 '2019/10',
 '2019/11',
 '2019/11',
 '2019/11',
 '2019/11',
 '2019/11',
 '2019/11',
 '2019/11',
 '2019/12',
 '2019/12',
 '2019/12',
 '2019/12',
 '2019/12',
 '2019/12',
 '2019/12',
 '2020/02',
 '2020/02',
 '2020/02',
 '2020/02',
 '2020/02',
 '2020/02',
 '2020/02',
 '2020/03',
 '2020/03',
 '2020/03',
 '2020/03',
 '2020/03',
 '2020/03',
 '2020/03',
 '2020/04',
 '2020/04',
 '2020/04',
 '2020/04',
 '2020/04',
 '2020/04',
 '2020/04',
 '2020/05',
 '2020/05',
 '2020/05',
 '2020/05',
 '2020/05',
 '2020/05',
 '2020/05',
 '2020/06',
 '2020/06',
 '2020/06',
 '2020/06',
 '2020/06',
 '2020/06',
 '2020/06',
 '2020/08',
 '2020/08',
 '2020/08',
 '2020/08',
 '2020/08',
 '2020/08',
 '2020/08',
 '2020/09',
 '2020/09',
 '2020/09',
 '2020/09',
 '2020/09',
 '2020/09',
 '2020/09']

In [217]:
len(new_big_col)

266

In [218]:
len(small_col)

266

In [219]:
raw_data.columns

Index(['2012/02', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5',
       'Unnamed: 6', 'Unnamed: 7', '2013/02', 'Unnamed: 9', 'Unnamed: 10',
       ...
       'Unnamed: 257', 'Unnamed: 258', 'Unnamed: 259', '2020/09',
       'Unnamed: 261', 'Unnamed: 262', 'Unnamed: 263', 'Unnamed: 264',
       'Unnamed: 265', 'Unnamed: 266'],
      dtype='object', length=266)

In [220]:
raw_data.columns=[new_big_col,small_col]

In [221]:
raw_data

           2012/02                                         2013/02            \
             당기순이익  매출액   부채  영업이익  영업활동으로인한현금흐름   자본   자산   당기순이익  매출액   부채
Unnamed: 0
NaN          당기순이익  매출액   부채  영업이익  영업활동으로인한현금흐름   자본   자산   당기순이익  매출액   부채
NaN            NaN  NaN  NaN   NaN           NaN  NaN  NaN     NaN  NaN  NaN
A060310        NaN  NaN  NaN   NaN           NaN  NaN  NaN     NaN  NaN  NaN
A095570        NaN  NaN  NaN   NaN           NaN  NaN  NaN     NaN  NaN  NaN
A006840        NaN  NaN  NaN   NaN           NaN  NaN  NaN     NaN  NaN  NaN
...            ...  ...  ...   ...           ...  ...  ...     ...  ...  ...
A189980        NaN  NaN  NaN   NaN           NaN  NaN  NaN     NaN  NaN  NaN
A000540        NaN  NaN  NaN   NaN           NaN  NaN  NaN     NaN  NaN  NaN
A003280        NaN  NaN  NaN   NaN           NaN  NaN  NaN     NaN  NaN  NaN
A037440        NaN  NaN  NaN   NaN           NaN  NaN  NaN     NaN  NaN  NaN
A238490        NaN  NaN  NaN   NaN           NaN  NaN  NaN     NaN  NaN  NaN

            ...       2020/08           2020/09                                \
            ...  영업활동으로인한현금흐름   자본   자산   당기순이익  매출액   부채  영업이익  영업활동으로인한현금흐름
Unnamed: 0  ...
NaN         ...  영업활동으로인한현금흐름   자본   자산   당기순이익  매출액   부채  영업이익  영업활동으로인한현금흐름
NaN         ...           NaN  NaN  NaN     NaN  NaN  NaN   NaN           NaN
A060310     ...           NaN  NaN  NaN     NaN  NaN  NaN   NaN           NaN
A095570     ...           NaN  NaN  NaN     NaN  NaN  NaN   NaN           NaN
A006840     ...           NaN  NaN  NaN     NaN  NaN  NaN   NaN           NaN
...         ...           ...  ...  ...     ...  ...  ...   ...           ...
A189980     ...           NaN  NaN  NaN     NaN  NaN  NaN   NaN           NaN
A000540     ...           NaN  NaN  NaN     NaN  NaN  NaN   NaN           NaN
A003280     ...           NaN  NaN  NaN     NaN  NaN  NaN   NaN           NaN
A037440     ...           NaN  NaN  NaN     NaN  NaN  NaN   NaN           NaN
A238490     ...           NaN  NaN  NaN     NaN  NaN  NaN   NaN           NaN


             자본   자산
Unnamed: 0
NaN          자본   자산
NaN         NaN  NaN
A060310     NaN  NaN
A095570     NaN  NaN
A006840     NaN  NaN
...         ...  ...
A189980     NaN  NaN
A000540     NaN  NaN
A003280     NaN  NaN
A037440     NaN  NaN
A238490     NaN  NaN

[2356 rows x 266 columns]

In [223]:
fs_df=raw_data.loc[raw_data.index.dropna()]

In [225]:
fs_df

           2012/02                                       2013/02            \
             당기순이익  매출액   부채 영업이익 영업활동으로인한현금흐름   자본   자산   당기순이익  매출액   부채
Unnamed: 0
A060310        NaN  NaN  NaN  NaN          NaN  NaN  NaN     NaN  NaN  NaN
A095570        NaN  NaN  NaN  NaN          NaN  NaN  NaN     NaN  NaN  NaN
A006840        NaN  NaN  NaN  NaN          NaN  NaN  NaN     NaN  NaN  NaN
A054620        NaN  NaN  NaN  NaN          NaN  NaN  NaN     NaN  NaN  NaN
A265520        NaN  NaN  NaN  NaN          NaN  NaN  NaN     NaN  NaN  NaN
...            ...  ...  ...  ...          ...  ...  ...     ...  ...  ...
A189980        NaN  NaN  NaN  NaN          NaN  NaN  NaN     NaN  NaN  NaN
A000540        NaN  NaN  NaN  NaN          NaN  NaN  NaN     NaN  NaN  NaN
A003280        NaN  NaN  NaN  NaN          NaN  NaN  NaN     NaN  NaN  NaN
A037440        NaN  NaN  NaN  NaN          NaN  NaN  NaN     NaN  NaN  NaN
A238490        NaN  NaN  NaN  NaN          NaN  NaN  NaN     NaN  NaN  NaN

            ...      2020/08           2020/09                              \
            ... 영업활동으로인한현금흐름   자본   자산   당기순이익  매출액   부채 영업이익 영업활동으로인한현금흐름
Unnamed: 0  ...
A060310     ...          NaN  NaN  NaN     NaN  NaN  NaN  NaN          NaN
A095570     ...          NaN  NaN  NaN     NaN  NaN  NaN  NaN          NaN
A006840     ...          NaN  NaN  NaN     NaN  NaN  NaN  NaN          NaN
A054620     ...          NaN  NaN  NaN     NaN  NaN  NaN  NaN          NaN
A265520     ...          NaN  NaN  NaN     NaN  NaN  NaN  NaN          NaN
...         ...          ...  ...  ...     ...  ...  ...  ...          ...
A189980     ...          NaN  NaN  NaN     NaN  NaN  NaN  NaN          NaN
A000540     ...          NaN  NaN  NaN     NaN  NaN  NaN  NaN          NaN
A003280     ...          NaN  NaN  NaN     NaN  NaN  NaN  NaN          NaN
A037440     ...          NaN  NaN  NaN     NaN  NaN  NaN  NaN          NaN
A238490     ...          NaN  NaN  NaN     NaN  NaN  NaN  NaN          NaN


             자본   자산
Unnamed: 0
A060310     NaN  NaN
A095570     NaN  NaN
A006840     NaN  NaN
A054620     NaN  NaN
A265520     NaN  NaN
...         ...  ...
A189980     NaN  NaN
A000540     NaN  NaN
A003280     NaN  NaN
A037440     NaN  NaN
A238490     NaN  NaN

[2354 rows x 266 columns]

### 재무 데이터 전처리 함수

In [232]:
def get_finance_data(path):
    data_path=path
    raw_data=pd.read_excel(data_path)
    big_col=list(raw_data.columns)
    #big_col=big_col[1:len(big_col)]
    small_col=list(raw_data.iloc[0])
    small_col=small_col[1:len(small_col)]
    #big_col=list(raw_data.columns)
    raw_data=raw_data.set_index(big_col[0])
    big_col=big_col[1:len(big_col)]
    new_big_col=[]
    for num,col in enumerate(big_col):
        if 'Unnamed' in col:
            new_big_col.append(new_big_col[num-1])
        else:
            new_big_col.append(big_col[num])
    raw_data.columns=[new_big_col,small_col]
    clean_df=raw_data.loc[raw_data.index.dropna()]
    
    return clean_df

In [233]:
get_finance_data(fs_path)

           2012/02                                       2013/02            \
             당기순이익  매출액   부채 영업이익 영업활동으로인한현금흐름   자본   자산   당기순이익  매출액   부채
Unnamed: 0
A060310        NaN  NaN  NaN  NaN          NaN  NaN  NaN     NaN  NaN  NaN
A095570        NaN  NaN  NaN  NaN          NaN  NaN  NaN     NaN  NaN  NaN
A006840        NaN  NaN  NaN  NaN          NaN  NaN  NaN     NaN  NaN  NaN
A054620        NaN  NaN  NaN  NaN          NaN  NaN  NaN     NaN  NaN  NaN
A265520        NaN  NaN  NaN  NaN          NaN  NaN  NaN     NaN  NaN  NaN
...            ...  ...  ...  ...          ...  ...  ...     ...  ...  ...
A189980        NaN  NaN  NaN  NaN          NaN  NaN  NaN     NaN  NaN  NaN
A000540        NaN  NaN  NaN  NaN          NaN  NaN  NaN     NaN  NaN  NaN
A003280        NaN  NaN  NaN  NaN          NaN  NaN  NaN     NaN  NaN  NaN
A037440        NaN  NaN  NaN  NaN          NaN  NaN  NaN     NaN  NaN  NaN
A238490        NaN  NaN  NaN  NaN          NaN  NaN  NaN     NaN  NaN  NaN

            ...      2020/08           2020/09                              \
            ... 영업활동으로인한현금흐름   자본   자산   당기순이익  매출액   부채 영업이익 영업활동으로인한현금흐름
Unnamed: 0  ...
A060310     ...          NaN  NaN  NaN     NaN  NaN  NaN  NaN          NaN
A095570     ...          NaN  NaN  NaN     NaN  NaN  NaN  NaN          NaN
A006840     ...          NaN  NaN  NaN     NaN  NaN  NaN  NaN          NaN
A054620     ...          NaN  NaN  NaN     NaN  NaN  NaN  NaN          NaN
A265520     ...          NaN  NaN  NaN     NaN  NaN  NaN  NaN          NaN
...         ...          ...  ...  ...     ...  ...  ...  ...          ...
A189980     ...          NaN  NaN  NaN     NaN  NaN  NaN  NaN          NaN
A000540     ...          NaN  NaN  NaN     NaN  NaN  NaN  NaN          NaN
A003280     ...          NaN  NaN  NaN     NaN  NaN  NaN  NaN          NaN
A037440     ...          NaN  NaN  NaN     NaN  NaN  NaN  NaN          NaN
A238490     ...          NaN  NaN  NaN     NaN  NaN  NaN  NaN          NaN


             자본   자산
Unnamed: 0
A060310     NaN  NaN
A095570     NaN  NaN
A006840     NaN  NaN
A054620     NaN  NaN
A265520     NaN  NaN
...         ...  ...
A189980     NaN  NaN
A000540     NaN  NaN
A003280     NaN  NaN
A037440     NaN  NaN
A238490     NaN  NaN

[2354 rows x 266 columns]

In [237]:

#재무제표 데이터 좌표
invest_path=r'C:\\Users\\duke0\\QUANT_SUMMER\\crawling_data\\투자지표데이터.xlsx'
fr_path=r'C:\\Users\\duke0\\QUANT_SUMMER\\crawling_data\\재무비율데이터.xlsx'
fs_path=r'C:\\Users\\duke0\\QUANT_SUMMER\\crawling_data\\재무데이터.xlsx'

In [241]:
fr_df=get_finance_data(fr_path)

In [242]:
fs_df=get_finance_data(fs_path)

In [243]:
invest_df=get_finance_data(invest_path)

###  저 PER, 고 ROA 

PER: 현재 주가를 주당 순이익으로 나눈 값  
ROA: 총자산 이익률

In [252]:
invest_df[('2016/12','PER')]=pd.to_numeric(invest_df[('2016/12','PER')])

In [253]:
per_sorted=invest_df.sort_values(by=('2016/12','PER'))

In [254]:
per_sorted

           2011/02                      2012/02                       ...  \
               PBR  PCR  PER  PSR 총현금흐름     PBR  PCR  PER  PSR 총현금흐름  ...
Unnamed: 0                                                            ...
A060310        NaN  NaN  NaN  NaN   NaN     NaN  NaN  NaN  NaN   NaN  ...
A095570        NaN  NaN  NaN  NaN   NaN     NaN  NaN  NaN  NaN   NaN  ...
A006840        NaN  NaN  NaN  NaN   NaN     NaN  NaN  NaN  NaN   NaN  ...
A054620        NaN  NaN  NaN  NaN   NaN     NaN  NaN  NaN  NaN   NaN  ...
A265520        NaN  NaN  NaN  NaN   NaN     NaN  NaN  NaN  NaN   NaN  ...
...            ...  ...  ...  ...   ...     ...  ...  ...  ...   ...  ...
A189980        NaN  NaN  NaN  NaN   NaN     NaN  NaN  NaN  NaN   NaN  ...
A000540        NaN  NaN  NaN  NaN   NaN     NaN  NaN  NaN  NaN   NaN  ...
A003280        NaN  NaN  NaN  NaN   NaN     NaN  NaN  NaN  NaN   NaN  ...
A037440        NaN  NaN  NaN  NaN   NaN     NaN  NaN  NaN  NaN   NaN  ...
A238490        NaN  NaN  NaN  NaN   NaN     NaN  NaN  NaN  NaN   NaN  ...

           2020/08                      2020/09
               PBR  PCR  PER  PSR 총현금흐름     PBR  PCR  PER  PSR 총현금흐름
Unnamed: 0
A060310        NaN  NaN  NaN  NaN   NaN     NaN  NaN  NaN  NaN   NaN
A095570        NaN  NaN  NaN  NaN   NaN     NaN  NaN  NaN  NaN   NaN
A006840        NaN  NaN  NaN  NaN   NaN     NaN  NaN  NaN  NaN   NaN
A054620        NaN  NaN  NaN  NaN   NaN     NaN  NaN  NaN  NaN   NaN
A265520        NaN  NaN  NaN  NaN   NaN     NaN  NaN  NaN  NaN   NaN
...            ...  ...  ...  ...   ...     ...  ...  ...  ...   ...
A189980        NaN  NaN  NaN  NaN   NaN     NaN  NaN  NaN  NaN   NaN
A000540        NaN  NaN  NaN  NaN   NaN     NaN  NaN  NaN  NaN   NaN
A003280        NaN  NaN  NaN  NaN   NaN     NaN  NaN  NaN  NaN   NaN
A037440        NaN  NaN  NaN  NaN   NaN     NaN  NaN  NaN  NaN   NaN
A238490        NaN  NaN  NaN  NaN   NaN     NaN  NaN  NaN  NaN   NaN

[2355 rows x 240 columns]

In [256]:
invest_df['2016/12']

             PBR    PCR  PER    PSR 총현금흐름
Unnamed: 0
A060310      NaN    NaN  NaN    NaN   NaN
A095570     1.09   0.92  NaN   0.24  3536
A006840     1.18   5.24  NaN   0.25  2163
A054620     2.82  16.24  NaN  24.16    79
A265520      NaN    NaN  NaN    NaN   NaN
...          ...    ...  ...    ...   ...
A189980     1.54  15.24  NaN   2.44    65
A000540     0.44    NaN  NaN    NaN   NaN
A003280     0.81  15.80  NaN   0.15   313
A037440     1.26  21.95  NaN   0.51    49
A238490      NaN    NaN  NaN    NaN    62

[2355 rows x 5 columns]

In [ ]:
#데이터 속 N/A(IFRS) 형의 데이터가 존재하여 오류 발생 , 전처리 필요

In [257]:
fr_df[('2016/12','ROA')]=pd.to_numeric(fr_df[('2016/12','ROA')])

ValueError: Unable to parse string "N/A(IFRS)" at position 286

In [259]:
import pandas as pd
import numpy as np

In [ ]:
# ROA 칼럼에서 N/A(IFRS)를 NaN으로 바꾸는 함수

In [260]:
def check_IFRS(x):
    if x=='N/A(IFRS)':
        return np.NaN
    else:
        return x

In [261]:
fr_df[('2016/12','ROA')]=fr_df[('2016/12','ROA')].apply(check_IFRS)

In [264]:
fr_df[('2016/12','ROA')]=pd.to_numeric(fr_df[('2016/12','ROA')])
sorted_roa=fr_df.sort_values(by=('2016/12','ROA'),ascending=False)

### PER 기준 오름차순 정렬하는 함수

In [267]:
def low_per(invest_df,index_date,num):
    invest_df[(index_date,'PER')]=pd.to_numeric(invest_df[(index_date,'PER')])
    per_sorted=invest_df.sort_values(by=(index_date,'PER'))
    return per_sorted[index_date][:num]

In [269]:
low_per(invest_df,'2019/12',10)

             PBR   PCR   PER   PSR 총현금흐름
Unnamed: 0
A083470     6.07  0.14  0.15  0.54   -12
A097230     1.68  0.90  0.96  0.18  1546
A151860     0.49  1.12  1.22  0.74   219
A900280     0.23  1.16  1.46  0.28   273
A054920     0.59  1.40  1.46  3.11    10
A003960     0.41  1.16  1.52  0.09   696
A001390     0.46  0.88  1.59  0.07  1763
A032940     0.67  1.56  1.64  0.84    64
A005670     0.78  1.65  1.96  0.42   125
A101330     0.38  1.38  2.20  0.16   540

### ROA 기준 내림차순 하는 함수

In [270]:
def high_roa(fr_df,index_date,num):
    fr_df[(index_date,'ROA')]=fr_df[(index_date,'ROA')].apply(check_IFRS)
    fr_df[(index_date,'ROA')]=pd.to_numeric(fr_df[(index_date,'ROA')])
    roa_sorted=fr_df.sort_values(by=(index_date,'ROA'),ascending=False)
    return roa_sorted[index_date][:num]

In [271]:
high_roa(fr_df,'2019/12',10)

              ROA    ROIC   부채비율  영업이익율   유동비율
Unnamed: 0
A083470     129.0  -115.1  118.7  -43.9  175.2
A214150      35.3    68.8   29.3   51.4  226.2
A138080      32.5    65.3   32.3   27.7  320.7
A151860      29.7    12.2   78.7    9.9   57.6
A032940      29.6    12.3   55.7    4.6   67.6
A014100      29.4     4.9   84.8    2.8  143.5
A032500      29.3    57.6   97.0   20.0  174.8
A225190      28.6    45.4   26.0   24.7  494.4
A230360      26.0    96.2   27.6   34.0  407.7
A054920      25.2    -5.0   38.0   -2.7   84.2

### 마법 공식을 활용하여 PER은 작고, ROA는 큰 종목을 골라오기

In [272]:
date='2019/12'
per=low_per(invest_df,date,None)
roa=high_roa(fr_df,date,None)

In [ ]:
# 순위 칼럼 추가하기

In [273]:
per['per순위']=per['PER'].rank()

In [274]:
per

             PBR   PCR   PER   PSR 총현금흐름  per순위
Unnamed: 0
A083470     6.07  0.14  0.15  0.54   -12    1.0
A097230     1.68  0.90  0.96  0.18  1546    2.0
A151860     0.49  1.12  1.22  0.74   219    3.0
A900280     0.23  1.16  1.46  0.28   273    4.5
A054920     0.59  1.40  1.46  3.11    10    4.5
...          ...   ...   ...   ...   ...    ...
A205470     2.56   NaN   NaN  4.28    -3    NaN
A212310     0.06   NaN   NaN  0.05   -25    NaN
A079980     0.51  5.34   NaN  0.20   387    NaN
A005010     0.19   NaN   NaN  0.14     3    NaN
A003280     1.67   NaN   NaN  0.50   141    NaN

[2355 rows x 6 columns]

In [275]:
roa['roa순위']=roa['ROA'].rank(ascending=False)

In [276]:
roa

              ROA    ROIC   부채비율  영업이익율   유동비율  roa순위
Unnamed: 0
A083470     129.0  -115.1  118.7  -43.9  175.2    1.0
A214150      35.3    68.8   29.3   51.4  226.2    2.0
A138080      32.5    65.3   32.3   27.7  320.7    3.0
A151860      29.7    12.2   78.7    9.9   57.6    4.0
A032940      29.6    12.3   55.7    4.6   67.6    5.0
...           ...     ...    ...    ...    ...    ...
A317320       NaN     NaN    NaN    NaN    NaN    NaN
A340440       NaN     NaN    NaN    NaN    NaN    NaN
A004310       NaN     NaN    NaN    NaN    NaN    NaN
A093240       NaN     NaN    NaN    NaN    NaN    NaN
A097870       NaN     NaN    NaN    NaN    NaN    NaN

[2344 rows x 6 columns]

### per,roa 합산 순위 생성

In [277]:
(per['per순위']+roa['roa순위']).sort_values()

Unnamed: 0
A083470     2.0
A151860     7.0
A032940    13.0
A054920    15.0
A014100    23.0
           ...
A950130     NaN
A950160     NaN
A950170     NaN
A950180     NaN
A950200     NaN
Length: 2355, dtype: float64

### 합산 상대 순위 생성

In [278]:
(per['per순위']+roa['roa순위']).rank().sort_values()

Unnamed: 0
A083470    1.0
A151860    2.0
A032940    3.0
A054920    4.0
A014100    5.0
          ...
A950130    NaN
A950160    NaN
A950170    NaN
A950180    NaN
A950200    NaN
Length: 2355, dtype: float64

### 마법 공식 함수로 만들기

In [283]:
def magic_formula(fr_df,invest_df,index_date,num):
    per=low_per(invest_df,index_date,None)
    roa=high_roa(fr_df,index_date,None)
    per['PER순위']=per['PER'].rank()
    roa['ROA순위']=roa['ROA'].rank(ascending=False)
    magic=pd.merge(per,roa,how='outer',left_index=True,right_index=True)
    magic['마법공식 순위']=(magic['PER순위']+magic['ROA순위']).rank().sort_values()
    magic=magic.sort_values(by='마법공식 순위')
    return magic[:num]

In [284]:
magic_formula(fr_df,invest_df,'2019/12',10)

,PBR,PCR,PER,PSR,총현금흐름,PER순위,ROA,ROIC,부채비율,영업이익율,유동비율,ROA순위,마법공식 순위
Unnamed: 0,,,,,,,,,,,,,
A083470,6.07,0.14,0.15,0.54,-12,1.0,129.0,-115.1,118.7,-43.9,175.2,1.0,1.0
A151860,0.49,1.12,1.22,0.74,219,3.0,29.7,12.2,78.7,9.9,57.6,4.0,2.0
A032940,0.67,1.56,1.64,0.84,64,8.0,29.6,12.3,55.7,4.6,67.6,5.0,3.0
A054920,0.59,1.40,1.46,3.11,10,4.5,25.2,-5.0,38.0,-2.7,84.2,10.5,4.0
A014100,1.20,2.39,2.56,1.04,49,17.0,29.4,4.9,84.8,2.8,143.5,6.0,5.0
A005670,0.78,1.65,1.96,0.42,125,9.0,22.8,8.3,80.3,6.0,147.4,16.5,6.0
A007120,0.59,2.93,3.00,5.63,6,24.0,21.6,1.5,3.9,1.8,1398.8,23.0,7.0
A007720,0.91,2.18,2.37,0.69,69,11.0,19.3,1.4,47.1,1.8,275.2,37.0,8.0
A084670,0.57,2.08,2.41,0.56,136,13.0,17.1,15.7,41.3,7.1,87.7,54.0,9.0
A101360,1.91,2.48,3.36,0.36,159,31.0,18.3,58.5,263.8,16.8,87.3,43.0,10.0

#### PER 말고도 PBR,PSR,PCR 같은 지표들 모두 '저평가된 주식'지표를 나타냄을 알게되었다
* PER: 순이익 대비 주가의 저평가 정도
* PBR: 순자산 대비 주가의 저평가 정도
* PCR: 자금 조달 능력 대비 주가의 저평가 정도
* PSR: 주당 매출액 대비 주가의 저평가 정도

#### 이를 고려하여 해당 지표들이 모두 낮은 주식을 생성하는 함수를 고려해볼 필요가 있어보였다

In [285]:
def get_value_rank(invest_df,value_type,index_date,num):
    invest_df[(index_date,value_type)]=pd.to_numeric(invest_df[(index_date,value_type)])
    value_sorted=invest_df.sort_values(by=(index_date,value_type))[index_date] #기준 밸류,날짜 대상으로 정렬
    value_sorted[value_type+'순위']=value_sorted[value_type].rank() #랭크를 메겨 추가된 칼럼에 저장 
    return value_sorted[[value_type,value_type+'순위']][:num] #입력된 num 만큼의 순위 종목들 출력

In [286]:
get_value_rank(invest_df,'PSR','2019/12',20)

             PSR  PSR순위
Unnamed: 0
A064520     0.02    1.5
A037400     0.02    1.5
A024900     0.03    5.0
A122690     0.03    5.0
A038110     0.03    5.0
A007860     0.03    5.0
A082850     0.03    5.0
A035080     0.04    8.0
A000880     0.05   11.0
A002020     0.05   11.0
A012860     0.05   11.0
A001250     0.05   11.0
A212310     0.05   11.0
A001120     0.06   17.0
A009620     0.06   17.0
A058650     0.06   17.0
A058220     0.06   17.0
A011760     0.06   17.0
A034020     0.06   17.0
A036710     0.06   17.0

### 주식 저평가 지표 PER,PBR,PSR,PCR 모두 고려할 수 있는 함수

In [289]:
def mix_value(value_list,invest_df,index_date,num):
    for i,value in enumerate(value_list):  # 순서는 i, 적용 밸류는 value
        temp_df=get_value_rank(invest_df,value,index_date,None)
        if i==0: #첫 밸류 적용시(비어있는 데이터 프레임)
            mixed_value_df=temp_df
            rank=temp_df[value+'순위']
        else:
            mixed_value_df=pd.merge(mixed_value_df,temp_df,how='outer',left_index=True,right_index=True) #이전 밸류 적용 테이블에 합병
            rank=rank+temp_df[value+'순위']
    mixed_value_df['종합순위']=rank.rank() # 종합순위 칼럼 생성 
    mixed_value_df=mixed_value_df.sort_values(by='종합순위') #종합 순위 기준으로 데이터 테이블 정렬 
    return mixed_value_df[:num] #입력한 인자만큼 순위권 종목 출력

In [290]:
mix_value(['PER','PBR','PSR','PCR'],invest_df,'2019/12',20)

             PER  PER순위   PBR  PBR순위   PSR  PSR순위   PCR  PCR순위  종합순위
Unnamed: 0
A003480     2.53   15.0  0.21   13.0  0.09   47.0  0.86    6.5   1.0
A208890     5.08   98.5  0.23   18.5  0.10   63.0  0.62    2.0   2.0
A006120     2.96   23.0  0.32   83.0  0.11   77.0  1.86   46.5   3.0
A004960     2.38   12.0  0.34   96.0  0.11   77.0  1.95   53.0   4.0
A003960     1.52    6.0  0.41  178.5  0.09   47.0  1.16   19.5   5.0
A013580     2.53   15.0  0.39  155.5  0.08   34.5  1.86   46.5   6.0
A010100     5.90  139.0  0.31   76.0  0.07   26.0  1.55   30.0   7.0
A084690     3.46   33.0  0.43  203.5  0.07   26.0  1.34   24.0   8.0
A001390     1.59    7.0  0.46  246.0  0.07   26.0  0.88    8.0   9.0
A002030     4.70   82.0  0.29   53.5  0.15  127.0  1.39   26.0  10.0
A101330     2.20   10.0  0.38  145.0  0.16  145.5  1.38   25.0  11.0
A015750     7.63  233.0  0.28   45.0  0.09   47.0  1.03   12.0  12.0
A900280     1.46    4.5  0.23   18.5  0.28  327.0  1.16   19.5  13.0
A267290     5.10  100.5  0.37  131.5  0.09   47.0  2.50   96.0  14.0
A005720     5.84  137.0  0.33   88.5  0.15  127.0  1.45   28.0  15.0
A036530     4.03   51.0  0.32   83.0  0.17  161.5  2.39   86.5  16.0
A115160     6.34  164.0  0.30   65.0  0.11   77.0  2.58  100.0  17.0
A076340     5.11  102.5  0.36  116.5  0.13   98.5  2.60  102.5  18.0
A005710     3.04   25.0  0.38  145.0  0.18  177.5  2.37   82.0  19.0
A012620     3.97   47.5  0.33   88.5  0.15  127.0  3.32  172.5  20.0

### F_score
우량 주식을 찾는 대표적인 방법을, 다음의 조건을 설정한 후, 조건 충족시 1점을 주는 방식으로 총 점수를 계산하여 우량기업을 골라내는 방식이다  
* 당기 순이익 0 이상 여부
* 영업 현금흐름 0 이상 여부
* ROA 전년대비 증가 여부
* 영업현금흐름이 순이익보다 높은지 여부
* 부채비율 전년대비 감소 여부
* 유동비율 전년대비 증가 여부
* 당해 신규주식 발행여부(발행하지 않았을 경우 1)
* 매출 총이익 전년대비 증가 여부
* 자산 회전율 전년대비 증가 여부

#### 수집할 수 있는 데이터가 제한되어, 9가지의 평가 지표중 다음 3가지 지표만을 활용하였다(총점 3점)

* 당기 순이익 0 이상 여부
* 영업 현금흐름 0 이상 여부
* 영업현금흐름이 순이익보다 높은지 여부

### 3지표 F-score 함수:

In [295]:
def get_fscore(fs_df,index_date,num):
    fscore_df=fs_df[index_date]
    fscore_df['당기순이익점수']=fscore_df['당기순이익']>0
    fscore_df['영업활동점수']=fscore_df['영업활동으로인한현금흐름']>0
    fscore_df['순이익보다 큰 영업활동점수']=fscore_df['영업활동으로인한현금흐름']>fscore_df['당기순이익']
    fscore_df['종합점수']=fscore_df[['당기순이익점수','영업활동점수','순이익보다 큰 영업활동점수']].sum(axis=1)
    fscore_df=fscore_df[fscore_df['종합점수']==3]
    return fscore_df[:num]

In [296]:
get_fscore(fs_df,'2019/12',15)

C:\Users\duke0\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\duke0\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\duke0\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\duke0\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,당기순이익,매출액,부채,영업이익,영업활동으로인한현금흐름,자본,자산,당기순이익점수,영업활동점수,순이익보다 큰 영업활동점수,종합점수
Unnamed: 0,,,,,,,,,,,
A006840,574,37595,28980,1313,2742,14299,43280,True,True,True,3
A265520,95,4621,3068,284,181,1141,4210,True,True,True,3
A211270,7,457,204,71,71,823,1026,True,True,True,3
A282330,1514,59461,15498,1966,5328,6226,21724,True,True,True,3
A001040,3238,337797,257663,15092,38646,146151,403814,True,True,True,3
A035760,586,37897,22830,2694,7434,31519,54349,True,True,True,3
A000120,509,104151,54548,3072,8492,36552,91100,True,True,True,3
A011150,18,1492,630,37,73,644,1273,True,True,True,3
A097950,1910,223525,167992,8969,21431,94815,262806,True,True,True,3
A051500,96,30551,8925,581,786,2891,11817,True,True,True,3
A000590,166,1350,281,170,193,2862,3143,True,True,True,3
A012030,44,2385,1522,185,310,2110,3632,True,True,True,3
A005830,3823,NaN,496287,5116,21966,61491,557778,True,True,True,3
A000990,1046,8074,4442,1813,1611,6447,10889,True,True,True,3
A068790,172,1962,1365,227,197,1660,3025,True,True,True,3

### 모멘텀 전략
모멘텀 전략은 최근 기간의 가격 추세가 일정 시간 지속이 될 것이라는 가정하에, 가격이 상승한 주식을 사고, 반대로 가격이 하락한 주식을 파는 전략이다.  

최근 n 개월 동안의 수익률을 계산하여 종목들끼리 서로 비교하는 방식으로 적용될 수 있을 것으로 보인다.

In [297]:
price_path=r'C:\\Users\\duke0\\QUANT_SUMMER\\crawling_data\\가격데이터.xlsx'
price_df=pd.read_excel(price_path)

In [298]:
price_df

,Unnamed: 0,060310,095570,006840,054620,265520,211270,027410,282330,138930,...,084110,145020,069260,024060,010240,189980,000540,003280,037440,238490
0,2014-10-10,3145,NaN,59700,5096,NaN,NaN,16443,NaN,16050,...,40829,NaN,23450,2415,1912,NaN,4120,3522,5400,NaN
1,2014-10-13,3260,NaN,60200,4947,NaN,NaN,16933,NaN,15809,...,41651,NaN,23400,2265,1850,NaN,4050,3656,5320,NaN
2,2014-10-14,3120,NaN,56000,4552,NaN,NaN,16881,NaN,16242,...,38636,NaN,23400,2165,1755,NaN,3930,3365,5410,NaN
3,2014-10-15,3125,NaN,57900,4656,NaN,NaN,16881,NaN,15857,...,38430,NaN,22700,2295,1782,NaN,3950,3549,5420,NaN
4,2014-10-16,3090,NaN,60100,4611,NaN,NaN,16572,NaN,16002,...,38226,NaN,23200,2290,1797,NaN,4045,3443,5450,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,2020-11-09,2140,4210.0,18400,7040,21300.0,7070.0,4315,128000.0,5890,...,30050,208700.0,24450,6050,5540,1620.0,2700,0,3705,13100.0
1496,2020-11-10,2140,4310.0,19800,7160,21700.0,7120.0,4425,132500.0,6030,...,30000,212500.0,26700,6720,5640,1625.0,2750,0,3705,13350.0
1497,2020-11-11,2205,4265.0,19050,7350,21800.0,7090.0,4480,130000.0,6030,...,29950,217100.0,26600,6300,5560,1650.0,2785,0,3710,13200.0
1498,2020-11-12,2220,4380.0,19950,7480,23400.0,7090.0,4555,139000.0,6120,...,29950,218500.0,25800,6400,5750,1655.0,2890,0,3755,13150.0
1499,2020-11-13,2175,4515.0,20000,7810,22900.0,7060.0,4545,134500.0,6010,...,30650,212300.0,24500,6220,5760,1640.0,2835,0,3730,13300.0

In [301]:
price_df=price_df.set_index(price_df.columns[0])

In [302]:
price_df

,060310,095570,006840,054620,265520,211270,027410,282330,138930,001460,...,084110,145020,069260,024060,010240,189980,000540,003280,037440,238490
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
2014-10-10,3145,NaN,59700,5096,NaN,NaN,16443,NaN,16050,288500,...,40829,NaN,23450,2415,1912,NaN,4120,3522,5400,NaN
2014-10-13,3260,NaN,60200,4947,NaN,NaN,16933,NaN,15809,289000,...,41651,NaN,23400,2265,1850,NaN,4050,3656,5320,NaN
2014-10-14,3120,NaN,56000,4552,NaN,NaN,16881,NaN,16242,276500,...,38636,NaN,23400,2165,1755,NaN,3930,3365,5410,NaN
2014-10-15,3125,NaN,57900,4656,NaN,NaN,16881,NaN,15857,285000,...,38430,NaN,22700,2295,1782,NaN,3950,3549,5420,NaN
2014-10-16,3090,NaN,60100,4611,NaN,NaN,16572,NaN,16002,283500,...,38226,NaN,23200,2290,1797,NaN,4045,3443,5450,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-11-09,2140,4210.0,18400,7040,21300.0,7070.0,4315,128000.0,5890,250500,...,30050,208700.0,24450,6050,5540,1620.0,2700,0,3705,13100.0
2020-11-10,2140,4310.0,19800,7160,21700.0,7120.0,4425,132500.0,6030,246000,...,30000,212500.0,26700,6720,5640,1625.0,2750,0,3705,13350.0
2020-11-11,2205,4265.0,19050,7350,21800.0,7090.0,4480,130000.0,6030,255500,...,29950,217100.0,26600,6300,5560,1650.0,2785,0,3710,13200.0
2020-11-12,2220,4380.0,19950,7480,23400.0,7090.0,4555,139000.0,6120,265500,...,29950,218500.0,25800,6400,5750,1655.0,2890,0,3755,13150.0
2020-11-13,2175,4515.0,20000,7810,22900.0,7060.0,4545,134500.0,6010,277000,...,30650,212300.0,24500,6220,5760,1640.0,2835,0,3730,13300.0

### 모멘텀 계산 방식

* 1년 영업일을 250일로 가정  

모멘텀= (기준날짜의 가격-250일 전의 가격)/250일전의 가격

In [303]:
price_df.pct_change(250)

,060310,095570,006840,054620,265520,211270,027410,282330,138930,001460,...,084110,145020,069260,024060,010240,189980,000540,003280,037440,238490
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
2014-10-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-10-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-10-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-10-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-10-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-11-09,-0.373353,0.004773,-0.439024,-0.313171,-0.241993,0.055224,-0.236283,-0.308108,-0.153736,0.061441,...,0.047111,0.647380,0.096413,0.055846,0.203040,-0.167095,-0.140127,-1.0,-0.154110,0.048252
2020-11-10,-0.356391,0.028640,-0.394495,-0.276036,-0.270588,0.065868,-0.235751,-0.297082,-0.145892,0.037975,...,0.038493,0.672873,0.197309,0.172775,0.253333,-0.195545,-0.128368,-1.0,-0.169283,0.103671
2020-11-11,-0.317337,0.010664,-0.427068,-0.250000,-0.248276,0.058209,-0.241963,-0.299191,-0.153090,0.066806,...,0.003619,0.695431,0.206349,0.097561,0.208696,-0.189189,-0.131045,-1.0,-0.148106,0.093530
2020-11-12,-0.310559,-0.001140,-0.449655,-0.192225,-0.181818,0.053492,-0.240833,-0.258667,-0.146444,0.113208,...,-0.012138,0.691046,0.162162,0.107266,0.233906,-0.162025,-0.117557,-1.0,-0.172907,0.124316
2020-11-13,-0.327666,0.032000,-0.417758,-0.164706,-0.203478,0.015827,-0.234848,-0.254848,-0.165278,0.149378,...,0.032021,0.626321,0.101124,0.061433,0.213909,-0.209639,-0.153731,-1.0,-0.144495,0.139674

#### 기준 날짜의 수익률

In [305]:
price_df.pct_change(250).loc['2016-12-29']

060310    0.156522
095570   -1.000000
006840   -0.062606
054620    1.612576
265520         NaN
            ...
189980   -0.580238
000540   -0.104496
003280   -0.242115
037440    0.267327
238490         NaN
Name: 2016-12-29 00:00:00, Length: 2358, dtype: float64

### 모멘텀 데이터 프레임 생성

In [309]:
momentum_df=pd.DataFrame(price_df.pct_change(250).loc['2016-12-29'])
momentum_df.columns=['모멘텀']
momentum_df['모멘텀순위']=momentum_df['모멘텀'].rank(ascending=False)
momentum_df=momentum_df.sort_values(by='모멘텀순위')

In [310]:
momentum_df

        모멘텀  모멘텀순위
052900  inf    8.0
018290  inf    8.0
001260  inf    8.0
006390  inf    8.0
032860  inf    8.0
...     ...    ...
284420  NaN    NaN
212310  NaN    NaN
243070  NaN    NaN
145020  NaN    NaN
238490  NaN    NaN

[2358 rows x 2 columns]

### 모멘텀 데이터 프레임 만드는 함수:

In [311]:
def get_momentum_rank(price_df,index_date,date_range,num):
    momentum_df=pd.DataFrame(price_df.pct_change(data_range).loc[index_date])
    momentum_df.columns=['모멘텀']
    momentum_df['모멘텀순위']=momentum_df['모멘텀'].rank(ascending=False)
    momentum_df=momentum_df.sort_values(by='모멘텀순위')
    return momentum_df[:num]

### VALUE+ QUALITY 전략
저평가 지표와 우량성 평가 지표인 F-score를 결과를 합치는 전략

In [313]:
value=mix_value(['PER','PBR','PSR','PCR'],invest_df,'2019/12',None)

In [314]:
quality=get_fscore(fs_df,'2019/12',None)

C:\Users\duke0\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\duke0\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\duke0\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\duke0\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [315]:
value_quality_merge=pd.merge(value,quality,how='outer',left_index=True,right_index=True)

#### fscore와 value 지표 데이터 프레임 합병

In [316]:
value_quality_merge

,PER,PER순위,PBR,PBR순위,PSR,PSR순위,PCR,PCR순위,종합순위,당기순이익,매출액,부채,영업이익,영업활동으로인한현금흐름,자본,자산,당기순이익점수,영업활동점수,순이익보다 큰 영업활동점수,종합점수
Unnamed: 0,,,,,,,,,,,,,,,,,,,,
A000020,24.69,931.5,0.77,666.0,0.76,932.0,11.11,906.5,658.0,94,3072,752,99,133,3009,3760,True,True,True,3.0
A000040,NaN,NaN,3.31,1945.0,0.46,595.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A000050,5.83,135.0,0.34,96.0,0.74,911.0,3.20,163.0,152.0,436,3439,6292,320,669,7416,13707,True,True,True,3.0
A000060,6.75,185.0,0.82,735.0,NaN,NaN,NaN,NaN,NaN,3013,NaN,207751,3528,10261,24405,232157,True,True,True,3.0
A000070,19.25,790.0,0.42,190.5,0.24,267.0,4.85,335.5,222.0,620,24886,15600,794,2189,20295,35895,True,True,True,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
A950140,38.71,1102.0,1.44,1298.0,0.66,831.0,12.90,1004.0,852.0,23,1333,542,67,121,611,1153,True,True,True,3.0
A950160,NaN,NaN,5.23,2104.0,160.23,2119.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A950170,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A950180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A950200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### fscore 3점 만점을 기준으로 정렬

In [319]:
value_quality_filtered=value_quality_merge[value_quality_merge['종합점수']==3]

In [320]:
value_quality_filtered

,PER,PER순위,PBR,PBR순위,PSR,PSR순위,PCR,PCR순위,종합순위,당기순이익,매출액,부채,영업이익,영업활동으로인한현금흐름,자본,자산,당기순이익점수,영업활동점수,순이익보다 큰 영업활동점수,종합점수
Unnamed: 0,,,,,,,,,,,,,,,,,,,,
A000020,24.69,931.5,0.77,666.0,0.76,932.0,11.11,906.5,658.0,94,3072,752,99,133,3009,3760,True,True,True,3.0
A000050,5.83,135.0,0.34,96.0,0.74,911.0,3.20,163.0,152.0,436,3439,6292,320,669,7416,13707,True,True,True,3.0
A000060,6.75,185.0,0.82,735.0,NaN,NaN,NaN,NaN,NaN,3013,NaN,207751,3528,10261,24405,232157,True,True,True,3.0
A000070,19.25,790.0,0.42,190.5,0.24,267.0,4.85,335.5,222.0,620,24886,15600,794,2189,20295,35895,True,True,True,3.0
A000100,80.44,1257.0,1.77,1487.0,2.17,1617.5,32.62,1406.0,1199.5,366,14804,4672,125,660,16500,21172,True,True,True,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
A900270,2.62,20.0,0.31,76.0,0.39,496.5,2.33,78.5,45.0,326,2212,588,439,550,2779,3366,True,True,True,3.0
A900280,1.46,4.5,0.23,18.5,0.28,327.0,1.16,19.5,13.0,217,1131,156,294,359,2163,2319,True,True,True,3.0
A900300,2.60,19.0,0.30,65.0,0.28,327.0,2.21,74.0,25.0,318,2996,255,459,520,2766,3021,True,True,True,3.0
A900310,4.15,57.5,0.63,490.0,1.97,1559.0,3.82,221.0,395.5,242,509,93,276,268,1583,1675,True,True,True,3.0
A950140,38.71,1102.0,1.44,1298.0,0.66,831.0,12.90,1004.0,852.0,23,1333,542,67,121,611,1153,True,True,True,3.0

### 밸류+ 퀄리티 합병 함수:

In [323]:
def get_value_quality(invest_df,fs_df,index_date,num):
    value=mix_value(['PER','PBR','PCR','PSR'],invest_df,index_date,None)
    quality=get_fscore(fs_df,index_date,None)
    value_quality_mix=pd.merge(value,quality,how='outer',left_index=True,right_index=True)
    value_quality_filtered=value_quality_mix[value_quality_mix['종합점수']==3]
    value_quality_df=value_quality_filtered.sort_values(by='종합순위')
    return value_quality_df[:num]